AuthUserFile /home/nejir/www/smp/.htpasswd
AuthGroupFile /dev/null
AuthName "Password required"
AuthType Basic
require valid-user

<Files ~ "^.(htpasswd|htaccess)$">
    deny from all
</Files>
